body{
font-family: sans-serif;
}

main{
    background-image: url(imagenes/bg_login.jpg);
}

footer{
    background: #3f444d;
}

.div-center{
    display: flex;
    align-items: center;
    justify-content: right;
    min-height: 100vh;    
}

.lg-cont-center{
    justify-content: center;
    display: block;
    padding-top: 8vh;
}

.back_btn{    
    text-decoration: none;
    color: #82494c;

}

.back_btn:hover{
    text-decoration: none;
    color: #deafb2;
}

#center-login{    
    padding-bottom: 25vh;
}

#login_cont{
    max-width: 40rem;
    margin-bottom: 25vh;
}

#center-register{
    padding-bottom: 25vh;
    display: flex;
}